src/main/resources/wsdl/spec-to-wsdl.wsdl

<wsdl:definitions xmlns:tns="http://www.example.org/Exemple1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Exemple2" targetNamespace="http://www.example.org/Exemple2/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/Exemple2/">
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="author" type="xsd:string"/>
                    <xsd:element name="isbn" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="book" type="tns:BookType"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getTitreLivre">
        <wsdl:part name="title" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getInfosLivre">
        <wsdl:part name="book" element="tns:book"/>
    </wsdl:message>
    <wsdl:portType name="Port1">
        <wsdl:operation name="chercherLivre">
            <wsdl:input message="tns:getTitreLivre"/>
            <wsdl:output message="tns:getInfosLivre"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookWSPortBinding" type="tns:Port1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="chercherLivre">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UnivWS">
        <wsdl:port name="UnivWSPort" binding="tns:BookWSPortBinding">
            <soap:address location="http://localhost:8080/UnivWSApplication/UnivWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>