src/main/resources/wsdl/wsdl-to-java.wsdl

<wsdl:definitions xmlns:tns="http://www.example.org/Exemple1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Exemple1" targetNamespace="http://www.example.org/Exemple1/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/Exemple1/">
            <xsd:complexType name="CoursType">
                <xsd:sequence>
                    <xsd:element name="intitule" type="xsd:string"/>
                    <xsd:element name="ects" type="xsd:int"/>
                    <xsd:element name="nomResponsable" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="cours" type="tns:CoursType"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCodeCours">
        <wsdl:part name="coursCode" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="getInfosCours">
        <wsdl:part name="cours" element="tns:cours"/>
    </wsdl:message>
    <wsdl:message name="getCodeEnseignant">
        <wsdl:part name="idProf" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="getNomEnseignant">
        <wsdl:part name="nomProf" type="xsd:string"/>
    </wsdl:message>
    <wsdl:portType name="Port1">
        <wsdl:operation name="getCours">
            <wsdl:input message="tns:getCodeCours"/>
            <wsdl:output message="tns:getInfosCours"/>
        </wsdl:operation>
        <wsdl:operation name="getEnseignant">
            <wsdl:input message="tns:getCodeEnseignant"/>
            <wsdl:output message="tns:getNomEnseignant"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CoursWSPortBinding" type="tns:Port1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCours">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnseignant">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UnivWS">
        <wsdl:port name="UnivWSPort" binding="tns:CoursWSPortBinding">
            <soap:address location="http://localhost:8080/UnivWSApplication/UnivWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>